
    
    
  <footer>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3>Shop On</h3>
        <ul>
          <li><a href="#">Event</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Agency</a></li>
          <li><a href="#">Start-up</a></li>
        </ul>
            </div>
            <div class="col-md-3">
                <h3>Help</h3>
                <ul>
          <li><a href="#">Event</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Agency</a></li>
          <li><a href="#">Start-up</a></li>
        </ul>
            </div>
            
            <div class="col-md-3">
                <h3>Download our app</h3>
        <p class="download-icon"><i class="fa fa-apple"></i></p>
         <p class="download-icon"><i class="fa fa-android"></i></p>
        
            </div>

            <div class="col-md-3">
                <h3>Get Social With Us</h3>
        
        <p class="social"><a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-google-plus-square"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a></p>
            </div>
      <hr>
            <div class="col-md-12">
                <p>W3hubs 2018. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>


 
<script src="/js/main.js"></script>
</body>

</html>